exportPattern("^[^\\.]")
importFrom("tcltk", "tk_choose.files")
importFrom("plyr", "alply")
importFrom("utils", "read.table")
importFrom("manipulate", "manipulate", "slider")
importFrom("graphics", "plot")
